body {
    background-size: cover;
    opacity: 1;
    font-family:'Roboto',sans-serif;
}

.header {
    background-image: url(./img/animals.jpg);
    background-size: cover;
    background-position: center;
    min-height: 45vh;
}
@media  screen and (max-width: 670px) {
    .header{
        min-height: 200px;
    }
}


.content {
    text-align: center;
    text-shadow: 0.5px 0.5px rgb(167, 167, 21);
    color: rgb(117, 21, 21);
}

.category-submit:hover {
    border-color: rgb(172, 184, 6);
}

.filter-btn:hover {
    border-color: rgb(172, 184, 6);
}

.card-1 {
    /* background-image: url(./img/owl.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0.7px 0.7px rgb(25, 165, 153);
    color:rgb(238, 231, 222)
    /* min-height: 400px; */
}

.card-2 {
    background-image: url(./img/flowers.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 0.7px 0.7px rgb(25, 165, 153);
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

#location-btn, #price-btn, #completed-btn, #month-btn, #rarity-btn {
    display: none;

    /* grid-template-columns: auto; */
}

button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#0b9287;
    text-align:center;
    transition: all 0.2s;
}
button:hover{
    color:#c95252;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    button{
        display: block;
        margin: 0.4rem, auto;
}


.checkboxes {
    color: black;
}
#header-checkbox {
    width:5%
}

#header-img {
    width: 5%
}

#header-name {
    width:20%
}

#header-location {
    width:20%
}

#header-rarity {
    width: 15%
}

#header-months {
    width:15%
}

.categories{
    display: flex;
    flex-direction: column;
}

.categoryBtn{
    margin: 5px 10px;
    /* background-color: rgb(0,128,128,0.6); */
}

.box-titles{
    margin: 0px;
}

#villagerTable{
    margin: 10px;
    width: 1000px;
}

#villagerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

#village-header {
    text-align: center;
    text-shadow: 0.5px 0.5px red;
}
}